.list-item {
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid teal;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}

.delete-button,
.update-button {
    width: 100px;
    position: absolute;
    top: calc(50% - 30px);
    right: 20px;

    background-color: aqua;
    border: none;
    border-radius: 5px;
    height: 30px;

    cursor: pointer;
    font-size: 16px;
}

.update-button {
    top: calc(50% + 10px);
}